@font-face {
  font-family: "consolas-font";
  src: url("/fonts/consolas.ttf") format("truetype");
}

@tailwind utilities;
@import "tailwindcss";

/* Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(110, 123, 142, 0.6); /* slate-500 with opacity */
  border-radius: 10px;
  border: 1px solid transparent;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(49, 59, 72, 0.8); /* darker on hover */
}


@layer components {
  .input-field {
    @apply px-4 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-white/20 transition;
  }
}

@layer utilities {
  @keyframes growFromIcon {
    0% {
      opacity: 0;
      transform: scale(0) translate(50%, 50%);
    }
    100% {
      opacity: 1;
      transform: scale(1) translate(0, 0);
    }
  }

  .animate-growFromIcon {
    animation: growFromIcon 0.3s ease-out forwards;
  }
}

/*  Custom animation for Linear Loader */
@layer utilities {
  .animate-linearMove {
    animation: linearMove 1.3s linear infinite;
  }

  @keyframes linearMove {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  /* font-family: consolas-font; */
}

.CodeMirror * {
  font-family: monospace;
}

.cm-content {
  tab-size: 2;
}

/* Custom scrollbar styles */
.scrollbar-custom::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgb(226, 179, 11); /* Color of the scrollbar thumb */
  border-radius: 0px; /* Rounded corners for the scrollbar thumb */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent; /* Background color of the track */
}

.scrollbar-custom-sql::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

.scrollbar-custom-sql::-webkit-scrollbar-track {
  background-color: transparent; /* Background color of the track */
}

.scrollbar-custom-sql::-webkit-scrollbar-thumb {
  background-color: #2455ead2; /* Color of the scrollbar thumb */
}

/* In your global styles, or in a custom CSS file */
.scrollbar-thin::-webkit-scrollbar {
  width: 5px;
}
.scrollbar-thinnest::-webkit-scrollbar {
  background-color: black;
  height: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #000; /* Black color */
  border-radius: 0px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Light background color for track */
}

.scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;

  /* IE and Edge */
  -ms-overflow-style: none;
}

/* Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
